.banner {
  @apply flex items-center justify-between;

  height: 630px;
}

.caption {
  @apply text-4xl font-medium font-gotham;

  background: linear-gradient(
    0deg,
    #f59fee 0%,
    #b8c1c0 25%,
    #65c0e0 50%,
    #f59fee 75%,
    #81c1d9 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introduce {
  @apply font-medium text-xs;
  @apply mt-6;
}

.action {
  @apply space-x-4 mt-10;
}

.chunk {
  @apply grid grid-cols-4 grid-rows-4;
}

.piece {
  @apply w-4 h-4;
}
